<!DOCTYPE html>
<html lang="en">


<body>

<!-- Navigation -->


<!-- Page Content -->
<div class="container">

  <div class="row" >

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Nuestra reseñas
        <small>Enterate de todo lo de tecnologia</small>
      </h1>

      <!-- Blog Post -->
      <div *ngIf="listPost.length>0">
        <div class="card mb-4" *ngFor="let post of listPost">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post.titulo}}</h2>
            <p class="card-text">{{post.contenido}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{post.fecha_creacion}}
            <a href="#">{{post.nombre}}</a>
          </div>
        </div>
      </div>

    </div>


  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
